red-backup/red-data/flows.json
[{"id":"88577c5b.1324","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"dc1ecbb2.736d9","type":"mqtt-broker","name":"sensor_network","broker":"sensors_mqtt_1","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"3622c2d3.dff256","type":"tado-config","name":"Tado dhogborg"},{"id":"b0421e28.1400a","type":"netatmo-config-node","client_id":"5700f687e6da236d30af813b","client_secret":"MmeC2Xw1KTFQ2NiIHoEqaeXlO6z3XlAZ1T9dnjlV","username":"d@hogborg.se","password":"lfhkib"},{"id":"c14ef66e.2ca51","type":"mqtt-broker","name":"sensor_network","broker":"house-sensors_mqtt_1","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"2558a306.f683e4","type":"tado-config","name":"Tado dhogborg"},{"id":"104577d7.81ac08","type":"netatmo-config-node","client_id":"5700f687e6da236d30af813b","client_secret":"MmeC2Xw1KTFQ2NiIHoEqaeXlO6z3XlAZ1T9dnjlV","username":"d@hogborg.se","password":"lfhkib"},{"id":"8c3f0e0b.53012","type":"mqtt in","z":"88577c5b.1324","name":"MQTT Verisure","topic":"sensors/verisure/#","qos":"2","datatype":"auto","broker":"c14ef66e.2ca51","x":100,"y":240,"wires":[["6e10cd43.dd29a4"]]},{"id":"8ddce15a.60c2b8","type":"switch","z":"88577c5b.1324","name":"Router","property":"payload","propertyType":"msg","rules":[{"t":"hask","v":"temperature","vt":"str"},{"t":"hask","v":"humidity","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":370,"y":80,"wires":[["44500248.7f763c"],["996a7507.1ae908"]]},{"id":"6e10cd43.dd29a4","type":"json","z":"88577c5b.1324","name":"","property":"payload","action":"obj","pretty":false,"x":290,"y":240,"wires":[["b455c9af.52b508"]]},{"id":"d4b93f23.fb0818","type":"http request","z":"88577c5b.1324","name":"WriteInfluxDB","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://house-sensors_influxdb_1:8086/write?db=sensors","tls":"","persist":false,"proxy":"","authType":"","x":860,"y":80,"wires":[["e0185bd2.4411d8"]]},{"id":"e0185bd2.4411d8","type":"debug","z":"88577c5b.1324","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1070,"y":80,"wires":[]},{"id":"1a4bdc76.451dcc","type":"function","z":"88577c5b.1324","name":"InfluxFormat","func":"function format(s) {\n    Object.keys(s).forEach((key) => {\n        if (s[key] && s[key].replace) {\n            s[key] = s[key].replace(\" \", \"_\")\n            return\n        }\n        if (s[key] && typeof s[key] == \"object\") {\n            format(s[key])\n        }\n    })\n}\n\nformat(msg.payload)\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":170,"y":80,"wires":[["8ddce15a.60c2b8"]]},{"id":"2298bb5e.2324dc","type":"tado","z":"88577c5b.1324","configName":"2558a306.f683e4","apiCall":"getZones","homeId":"618069","deviceId":"","zoneId":"","power":"on","temperature":"18","terminationType":"manual","terminationTimeout":900,"name":"AllZones","reportDate":"","presence":"HOME","geoTracking":"true","temperatureOffset":0,"windowDetection":"true","windowDetectionTimeout":900,"openWindowMode":"true","timetableId":"","x":300,"y":420,"wires":[["5f47129b.b121d4"]]},{"id":"4dcf2633.8cf2d","type":"inject","z":"88577c5b.1324","name":"Interval","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"180","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":110,"y":420,"wires":[["2298bb5e.2324dc"]]},{"id":"5f47129b.b121d4","type":"split","z":"88577c5b.1324","name":"ZoneSplit","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":480,"y":420,"wires":[["98866a57.4dcba8"]]},{"id":"b23af5c3.b8104","type":"tado","z":"88577c5b.1324","configName":"2558a306.f683e4","apiCall":"getZoneState","homeId":"618069","deviceId":"payload.serialNo","zoneId":"zoneid","power":"on","temperature":"18","terminationType":"manual","terminationTimeout":900,"name":"GetZone State","reportDate":"","presence":"HOME","geoTracking":"true","temperatureOffset":0,"windowDetection":"true","windowDetectionTimeout":900,"openWindowMode":"true","timetableId":"","x":820,"y":420,"wires":[["ce12c879.d8cf68"]]},{"id":"16e0f0e1.d6bbf7","type":"link in","z":"88577c5b.1324","name":"Influx","links":["cc18d5fa.ffebc","2add9fba.161f1","c8e54935.aad59","49a5160a.65278"],"x":45,"y":80,"wires":[["1a4bdc76.451dcc"]]},{"id":"44500248.7f763c","type":"template","z":"88577c5b.1324","name":"Temperature","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"temperature,source={{payload.source}},deviceType={{payload.deviceType}},deviceID={{payload.deviceID}},name={{payload.name}} value={{payload.temperature}}","output":"str","x":590,"y":60,"wires":[["d4b93f23.fb0818"]]},{"id":"762095a0.653c4c","type":"change","z":"88577c5b.1324","name":"ConformPayload","rules":[{"t":"set","p":"payload.source","pt":"msg","to":"Verisure","tot":"str"},{"t":"set","p":"payload.deviceID","pt":"msg","to":"payload.deviceLabel","tot":"msg"},{"t":"set","p":"payload.name","pt":"msg","to":"payload.deviceArea","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":240,"wires":[["cc18d5fa.ffebc"]]},{"id":"cc18d5fa.ffebc","type":"link out","z":"88577c5b.1324","name":"To Influx","links":["16e0f0e1.d6bbf7"],"x":815,"y":240,"wires":[]},{"id":"98866a57.4dcba8","type":"function","z":"88577c5b.1324","name":"SetZoneID","func":"\nreturn { \n    zoneId: msg.payload.id, \n    \n    name: msg.payload.name,\n    deviceType: msg.payload.devices[0].deviceType,\n    deviceId: msg.payload.devices[0].serialNo\n};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":650,"y":420,"wires":[["b23af5c3.b8104"]]},{"id":"ce12c879.d8cf68","type":"change","z":"88577c5b.1324","name":"ConformPayload","rules":[{"t":"set","p":"payload.temperature","pt":"msg","to":"payload.sensorDataPoints.insideTemperature.celsius","tot":"msg"},{"t":"set","p":"payload.humidity","pt":"msg","to":"payload.sensorDataPoints.humidity.percentage","tot":"msg"},{"t":"set","p":"payload.name","pt":"msg","to":"name","tot":"msg"},{"t":"set","p":"payload.deviceID","pt":"msg","to":"deviceId","tot":"msg"},{"t":"set","p":"payload.deviceType","pt":"msg","to":"deviceType","tot":"msg"},{"t":"set","p":"payload.source","pt":"msg","to":"Tado","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1030,"y":420,"wires":[["2add9fba.161f1"]]},{"id":"2add9fba.161f1","type":"link out","z":"88577c5b.1324","name":"","links":["16e0f0e1.d6bbf7"],"x":1175,"y":420,"wires":[]},{"id":"996a7507.1ae908","type":"template","z":"88577c5b.1324","name":"Humidity","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"humidity,source={{payload.source}},deviceType={{payload.deviceType}},deviceID={{payload.deviceID}},name={{payload.name}} value={{payload.humidity}}","output":"str","x":580,"y":120,"wires":[["d4b93f23.fb0818"]]},{"id":"b455c9af.52b508","type":"switch","z":"88577c5b.1324","name":"PayloadFilter","property":"payload","propertyType":"msg","rules":[{"t":"hask","v":"deviceLabel","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":470,"y":240,"wires":[["762095a0.653c4c"]]},{"id":"96de6695.31ed8","type":"comment","z":"88577c5b.1324","name":"Tado input","info":"","x":80,"y":380,"wires":[]},{"id":"607134b1.4fcbcc","type":"comment","z":"88577c5b.1324","name":"Verisure input","info":"","x":90,"y":200,"wires":[]},{"id":"fc16e9d1.7cf8d","type":"netatmo-dashboard","z":"88577c5b.1324","creds":"104577d7.81ac08","x":340,"y":580,"wires":[["2b0b0abf.090ee6"]]},{"id":"c0dc7745.7842c8","type":"inject","z":"88577c5b.1324","name":"Interval","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"300","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":100,"y":580,"wires":[["fc16e9d1.7cf8d"]]},{"id":"2b0b0abf.090ee6","type":"function","z":"88577c5b.1324","name":"ConformPayload","func":"var parts = [];\n\nif (msg.payload && msg.payload.compact) {\n    var compact = msg.payload.compact;\n    \n    if (compact.temperature) {\n        parts.push({\n            name: \"Vardagsrum\",\n            deviceID: \"Netatmo-Main\",\n            deviceType: \"Netatmo-Main\",\n            temperature: compact.temperature,\n        })\n    }\n    \n    if (compact.humidity) {\n        parts.push({\n            name: \"Vardagsrum\",\n            deviceID: \"Netatmo-Main\",\n            deviceType: \"Netatmo-Main\",\n            humidity: compact.humidity,\n        })\n    }\n    \n    if (compact.outdoor && compact.outdoor.reachable) {\n        parts.push({\n            name: \"Outdoor\",\n            deviceID: \"Netatmo-outdoor\",\n            deviceType: \"Netatmo-outdoor\",\n            temperature: compact.outdoor.temperature,\n        },{\n            name: \"Outdoor\",\n            deviceID: \"Netatmo-outdoor\",\n            deviceType: \"Netatmo-outdoor\",\n            humidity: compact.outdoor.humidity,\n        });\n    }\n    \n    \n    \n    if (compact.modules) {\n        var modules = compact.modules;\n        modules.forEach((module) => {\n            if (module.data_type.indexOf(\"Temperature\") > -1) {\n                parts.push({\n                    name: module.name,\n                    deviceID: \"Netatmo-\" + module.name,\n                    deviceType: \"Netatmo-Temperature\",\n                    temperature: module.temperature\n                })\n            }\n            if (module.data_type.indexOf(\"Humidity\") > -1) {\n                parts.push({\n                    name: module.name,\n                    deviceID: \"Netatmo-\" + module.name,\n                    deviceType: \"Netatmo-Humidity\",\n                    temperature: module.humidity\n                })\n            }\n        })\n    }\n}\n\nreturn {\n    ...msg,\n    payload: parts,\n};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":590,"y":580,"wires":[["c4862633.7f805"]]},{"id":"c4862633.7f805","type":"split","z":"88577c5b.1324","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":790,"y":580,"wires":[["7882d7f3.75d1d"]]},{"id":"7882d7f3.75d1d","type":"change","z":"88577c5b.1324","name":"SetSource","rules":[{"t":"set","p":"payload.source","pt":"msg","to":"Netatmo","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":580,"wires":[["c8e54935.aad59","651dafdb.eab4f8"]]},{"id":"c8e54935.aad59","type":"link out","z":"88577c5b.1324","name":"","links":["16e0f0e1.d6bbf7"],"x":1085,"y":580,"wires":[]},{"id":"651dafdb.eab4f8","type":"debug","z":"88577c5b.1324","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":930,"y":660,"wires":[]},{"id":"f78bb386.194bf8","type":"comment","z":"88577c5b.1324","name":"Netatmo input","info":"","x":90,"y":540,"wires":[]},{"id":"884eb5cc.47f118","type":"mqtt in","z":"88577c5b.1324","name":"","topic":"servicelocation/+/realtime","qos":"2","datatype":"auto","broker":"c14ef66e.2ca51","x":130,"y":840,"wires":[["e2dd8b45.bba05"]]},{"id":"fcb3a162.6c09d","type":"debug","z":"88577c5b.1324","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":370,"y":1260,"wires":[]},{"id":"e2dd8b45.bba05","type":"json","z":"88577c5b.1324","name":"","property":"payload","action":"obj","pretty":false,"x":350,"y":840,"wires":[["fec7d767.b9f188"]]},{"id":"fec7d767.b9f188","type":"template","z":"88577c5b.1324","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"electricity,source=smappee,phase=combined reactive_power={{payload.totalReactivePower}},power={{payload.totalPower}},voltage={{payload.voltages.0.voltage}}\nelectricity,source=smappee,phase={{payload.channelPowers.0.phaseId}} power={{payload.channelPowers.0.power}}\nelectricity,source=smappee,phase={{payload.channelPowers.1.phaseId}} power={{payload.channelPowers.1.power}}\nelectricity,source=smappee,phase={{payload.channelPowers.2.phaseId}} power={{payload.channelPowers.2.power}}","output":"str","x":560,"y":840,"wires":[["46bc05b4.cc0014"]]},{"id":"46bc05b4.cc0014","type":"http request","z":"88577c5b.1324","name":"WriteInfluxDB","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://house-sensors_influxdb_1:8086/write?db=energy","tls":"","persist":false,"proxy":"","authType":"","x":780,"y":840,"wires":[[]]},{"id":"491653e5.250314","type":"comment","z":"88577c5b.1324","name":"Energy from smappee","info":"","x":120,"y":800,"wires":[]},{"id":"34adbf.43329242","type":"mqtt in","z":"88577c5b.1324","name":"","topic":"zigbee2mqtt/+","qos":"2","datatype":"auto","broker":"c14ef66e.2ca51","x":100,"y":1040,"wires":[["a7fbb6dc.e21128"]]},{"id":"d20fd0bd.f805c","type":"comment","z":"88577c5b.1324","name":"Device IDs","info":"zigbee2mqtt/0x00158d00044f59ca : Outdoor","x":100,"y":1000,"wires":[]},{"id":"ea5d492d.038a58","type":"switch","z":"88577c5b.1324","name":"TopicSwitch","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"zigbee2mqtt/0x00158d000486ad82","vt":"str"},{"t":"eq","v":"zigbee2mqtt/0x00158d00044f59ca","vt":"str"},{"t":"eq","v":"zigbee2mqtt/0x00158d0004874114","vt":"str"},{"t":"eq","v":"zigbee2mqtt/0x00158d0006793025","vt":"str"},{"t":"eq","v":"zigbee2mqtt/0x00158d0006694ccb","vt":"str"},{"t":"eq","v":"zigbee2mqtt/0x00158d0006694d55","vt":"str"},{"t":"eq","v":"zigbee2mqtt/0x00158d0006696961","vt":"str"},{"t":"nempty"}],"checkall":"false","repair":false,"outputs":8,"x":350,"y":1080,"wires":[["8fedc34d.7d7f1"],["ed52931.06918f"],["d20f5246.1455c"],["1119e6a2.ab08a1"],["1f2a4341.9536a5"],["859f84b.233dcf8"],["ce9ed731.0fd3a"],["fcb3a162.6c09d"]]},{"id":"27bfd2f5.fefb86","type":"change","z":"88577c5b.1324","name":"ConformPayload","rules":[{"t":"set","p":"payload.source","pt":"msg","to":"Aqara","tot":"str"},{"t":"set","p":"payload.deviceType","pt":"msg","to":"temperature_sensor","tot":"str"},{"t":"set","p":"payload.deviceID","pt":"msg","to":"topic","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":1040,"wires":[["9351710e.91d008"]]},{"id":"ed52931.06918f","type":"change","z":"88577c5b.1324","name":"Övervåning","rules":[{"t":"set","p":"payload.name","pt":"msg","to":"Övervåning","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":1160,"wires":[["27bfd2f5.fefb86"]]},{"id":"8fedc34d.7d7f1","type":"change","z":"88577c5b.1324","name":"FTX-in","rules":[{"t":"set","p":"payload.name","pt":"msg","to":"FTX-in","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":1040,"wires":[["27bfd2f5.fefb86"]]},{"id":"9351710e.91d008","type":"change","z":"88577c5b.1324","name":"ReplaceID","rules":[{"t":"change","p":"payload.deviceID","pt":"msg","from":"zigbee2mqtt/","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1010,"y":1040,"wires":[["49a5160a.65278"]]},{"id":"49a5160a.65278","type":"link out","z":"88577c5b.1324","name":"","links":["16e0f0e1.d6bbf7"],"x":1115,"y":1040,"wires":[]},{"id":"a7fbb6dc.e21128","type":"json","z":"88577c5b.1324","name":"","property":"payload","action":"obj","pretty":false,"x":250,"y":960,"wires":[["ea5d492d.038a58"]]},{"id":"d20f5246.1455c","type":"change","z":"88577c5b.1324","name":"FTX-out","rules":[{"t":"set","p":"payload.name","pt":"msg","to":"FTX-out","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":1080,"wires":[["27bfd2f5.fefb86"]]},{"id":"1119e6a2.ab08a1","type":"change","z":"88577c5b.1324","name":"Tvättstuga","rules":[{"t":"set","p":"payload.name","pt":"msg","to":"Tvättstuga","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":1200,"wires":[["27bfd2f5.fefb86"]]},{"id":"1f2a4341.9536a5","type":"change","z":"88577c5b.1324","name":"Rosa Rummet","rules":[{"t":"set","p":"payload.name","pt":"msg","to":"Rosa_rummet","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":1280,"wires":[["27bfd2f5.fefb86"]]},{"id":"859f84b.233dcf8","type":"change","z":"88577c5b.1324","name":"Garage","rules":[{"t":"set","p":"payload.name","pt":"msg","to":"Garage","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":1120,"wires":[["27bfd2f5.fefb86"]]},{"id":"ce9ed731.0fd3a","type":"change","z":"88577c5b.1324","name":"Övre Badrum","rules":[{"t":"set","p":"payload.name","pt":"msg","to":"Övre_Badrum","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":1240,"wires":[["27bfd2f5.fefb86"]]},{"id":"40bb2398.a6d004","type":"mqtt in","z":"88577c5b.1324","name":"Zigbee MQTT Aqara Vibr","topic":"zigbee2mqtt/0x00158d0006c891d0","qos":"2","datatype":"auto","broker":"dc1ecbb2.736d9","x":130,"y":1480,"wires":[["3ed60b64.0a5694"]]},{"id":"3ed60b64.0a5694","type":"json","z":"88577c5b.1324","name":"","property":"payload","action":"","pretty":false,"x":330,"y":1480,"wires":[["2457487f.b55648"]]},{"id":"2457487f.b55648","type":"switch","z":"88577c5b.1324","name":"If Vibration","property":"payload.action","propertyType":"msg","rules":[{"t":"eq","v":"vibration","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":470,"y":1480,"wires":[["d855897e.219f8","fa910974.7657d"]]},{"id":"d855897e.219f8","type":"trigger","z":"88577c5b.1324","name":"Debounce","op1":"0","op2":"1","op1type":"str","op2type":"str","duration":"1","extend":true,"overrideDelay":false,"units":"min","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":650,"y":1480,"wires":[["c9018127.a15b58"]]},{"id":"6a7b1e5e.88d3f","type":"http request","z":"88577c5b.1324","name":"","method":"use","ret":"txt","paytoqs":"ignore","url":"https://api.pushover.net/1/messages.json","tls":"","persist":false,"proxy":"","authType":"","x":1030,"y":1480,"wires":[[]]},{"id":"c9018127.a15b58","type":"function","z":"88577c5b.1324","name":"Construct body","func":"return {\n    method: \"POST\",\n    url: \"https://api.pushover.net/1/messages.json\",\n    headers: {\n        \"Content-Type\": \"application/x-www-form-urlencoded\"\n    },\n    \n    payload: {\n        token: \"auythkaazu6b4w7pdu5hivruo8j4yo\",\n        user: \"utaex2ivptzzwejjp8ir6n5ozbmk8b\",\n        device: \"iphone\",\n        title: \"Machine is idle\",\n        message: \"The vibration sensor is idle\"\n    }\n}\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":850,"y":1480,"wires":[["fa910974.7657d"]]},{"id":"fa910974.7657d","type":"debug","z":"88577c5b.1324","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1000,"y":1580,"wires":[]}]